$text-color: #3249c6;
.button {
  button, a {
    color: $text-color !important;
  }
}
.taskTable {
  & &__row {
    background-color: #E8F5FE !important;
  }
  & &__cell {
    text-align: center !important;
    font-size: 20px !important;
    &_bodyCell, a:visited {
      color: $text-color !important;
    }
  }
  & &__button {
    button, a {
      width: 160px !important;
    }
  }
}

.taskManager {
  margin: auto;
  text-align: center;
  & .timer__counter, & .timer__button button {
    color: $text-color !important;
  }
  & &__input {
    display: block !important;
    margin: auto;
  }
}